@model RegistrationApp_Web_.Models.StudentCourseList

<h2>StudentRoster</h2>

<table class="table-striped table-bordered table table-hover">

    <tr>
        <th class="table-bordered">
            Student Id
        </th>
        <th class="table-bordered">
            Student Name
        </th>
        <th class="table-bordered">
            Student Type
        </th>
    </tr>

    @foreach (var item in Model.Students)
    {

        <tr>
            <td>
                @Html.DisplayFor(x => item.StudentId)
            </td>
            <td>
                @Html.DisplayFor(x => item.Name)
            </td>

            <td>
                @Html.DisplayFor(x => item.Type)
            </td>
        </tr>

    }
</table>

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Choose Course By Id</legend>
        <div class="editor-label">
            @Html.LabelFor(x => x.CourseId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.CourseId)
        </div>

        <input type="submit" value="Select Course" class="btn btn-default" />
    </fieldset>
}

@using (Html.BeginForm())
{
    <fieldset>
        <legend>Add Remove Student By Id</legend>
        <div class="editor-label">
            @Html.LabelFor(x => x.StudentId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(x => x.StudentId)
        </div>

        <br />

        <div> @Html.TextBoxFor(x => x.AddRemoveStr, new { @placeholder = "Type 'ADD' or 'REMOVE'" }) Add/Remove</div>

        <br />
        <input type="submit" value="Add Course" class="btn btn-default" />

    </fieldset>
}