
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @System.Web.Optimization.Styles.Render("~/Content/css")
    @System.Web.Optimization.Styles.Render("~/Scripts/jquery")
</head>
<body>

    <nav class="navbar navbar-inverse bg-inverse">
        <a href="@Url.Action("Home", "Administrator")" class="col-md-3"><span>Home</span></a>
        <a href="@Url.Action("StudentsPage", "Administrator")" class="col-md-3"><span>Students</span></a>
        <a href="@Url.Action("CoursePage", "Administrator")" class="col-md-3"><span>Classes</span></a>
        <a href="@Url.Action("Home", "Administrator")" class="col-md-3"><span>About</span></a>
    </nav>

    <div>
        @RenderBody()
    </div>
</body>
</html>
